<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_AUTHORIZATION_KEY</key>
	<string>${API_AUTHORIZATION_KEY}</string>
	<key>API_BASE_URL</key>
	<string>${API_BASE_URL}</string>
	<key>API_CDN_BASE_URL</key>
	<string>${API_CDN_BASE_URL}</string>
	<key>API_CDN_HOST</key>
	<string>${API_CDN_HOST}</string>
	<key>API_CDN_HOST_URL</key>
	<string>${API_CDN_HOST_URL}</string>
	<key>API_HOST</key>
	<string>${API_HOST}</string>
	<key>API_SMS_AUTHORIZATION_KEY</key>
	<string>${API_SMS_AUTHORIZATION_KEY}</string>
	<key>API_SMS_BASE_URL</key>
	<string>${API_SMS_BASE_URL}</string>
	<key>API_SMS_HOST</key>
	<string>${API_SMS_HOST}</string>
	<key>APP_STORE_APP_ID</key>
	<string>1503717224</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).exposure-notification</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_DISPLAY_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>The permissions are needed to improve the accuracy of the digital handshake.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>The permissions are needed to improve the accuracy of the digital handshake.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>The permissions are needed to improve the accuracy of the digital handshake.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The permissions are needed to improve the accuracy of the digital handshake.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The permissions are needed to improve the accuracy of the digital handshake.</string>
	<key>P2P_KIT_API</key>
	<string>${P2P_KIT_API}</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
