//
//  Base.xcconfig
//  CoronaContact
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Secrets.xcconfig"

HTTPS = https:/$()/

API_BASE_URL = $(HTTPS)$(API_HOST)$(API_BASE_PATH)
API_SMS_BASE_URL = $(HTTPS)$(API_SMS_HOST)$(API_SMS_BASE_PATH)
API_CDN_BASE_URL = $(HTTPS)$(API_CDN_HOST)$(API_CDN_BASE_PATH)
