//
//  Secrets.xcconfig
//  CoronaContact
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// MARK: - Stage Environment

PRODUCT_BUNDLE_IDENTIFIER =
API_HOST =
API_BASE_PATH =
API_AUTHORIZATION_KEY =

// MARK: SMS API

API_SMS_HOST =
API_SMS_BASE_PATH =
API_SMS_AUTHORIZATION_KEY =

// MARK: CDN API

API_CDN_HOST =
API_CDN_BASE_PATH =

// MARK: - Production Environment

PROD_PRODUCT_BUNDLE_IDENTIFIER =
PROD_API_HOST =
PROD_API_AUTHORIZATION_KEY =

// MARK: SMS API

PROD_API_SMS_HOST =
PROD_API_SMS_AUTHORIZATION_KEY =

// MARK: CDN API

PROD_API_CDN_HOST =
